header nav ul li:hover {
    font-family: 'Dancing Script', cursive;
}

.mynavbar {
    background-color: darkslategray;
}


div img {
    width: auto;
    height: auto;
}

.mybg {
    height: 100%;
    width: 100%;
    margin: auto;
    background-color:#d1dfffb5;
    background-image: url('assets/portfolio-bg.jpg');
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    padding-bottom: 120px;
}

.mycol {
    height: 300px;
    width: 225px;
    border: darkslategray;
    border-style: solid;
}

.myp1 {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: darkslategray;
}

.myp2 {
    color: black;
    font-family: 'Acme', sans-serif;
    font-size: 18px;
}

.mybg2 {
    background-color: transparent;
    /* box-shadow: 0 0 10px 2px; */
}

h1 {
    font-size: 50px;
    color: rgba(171, 134, 80, 0.845);
    font-family: 'Dancing Script', cursive;
}

.h1bg {
    background-color: rgba(47, 79, 79, 0.803);

}

.mycenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.myicon {
    width: 32px;
    height: 32px;
}
/* assets/portfolio-bg.jpg */